/*
=====================================================
                    BASE
=====================================================
*/

h1 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

h3 {
  text-align: center;
  margin-top: 0px;
}

header {
  background-color: white;
}

body {
  background-color: grey;
}

#memory-board {
  height: 960px;
  background: url(../img/3d_Audience.jpg);
  padding-left: 2.5%;
  padding-bottom: 10px;
}

.tile {
  float: left;
  position: relative;
  width: 15.666%;
  padding-bottom: 15.666%;
  margin-left: 0.7%;
  margin-top: 0.7%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
	background-image: url(../img/card_bg.jpg);
	border: 1px solid #000;
	cursor: pointer;
}

/*
===========================================================
                     Component
===========================================================
*/

.btn {
  height: 100%;
  margin-top: 16px;
  border: 2px solid;
}

.btn:hover {
  background-color: black;
  color: white;
}

.modal-header {
  background-color: black;
  color: white;
}

.close {
  color: white;
  opacity: 1;
}
